<ion-header>

  <ion-navbar>
    <ion-title>{{product?.name || 'New Product'}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="product-form-page">

  <form [formGroup]="productForm" *ngIf="productForm" (ngSubmit)="save(productForm.value)">

    <h3>Product Details</h3>

    <ion-item>
      <ion-label stacked>Product Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Product Name">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!productForm.controls.name.valid && !productForm.controls.name.pristine">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Vintage</ion-label>
      <ion-datetime formControlName="vintage" displayFormat="YYYY" pickerFormat="YYYY" placeholder="Year"
                    [class.invalid]="!productForm.controls.vintage.valid && !productForm.controls.vintage.pristine"></ion-datetime>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!productForm.controls.vintage.valid  &&  !productForm.controls.vintage.pristine">
      <p>You need to enter a vintage.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Region</ion-label>
      <ion-select interface="popover" formControlName="region"
                  [class.invalid]="!productForm.controls.region.valid && !productForm.controls.region.pristine">
        <ion-option *ngFor="let region of regionList | async">{{region.name}}</ion-option>
      </ion-select>

      <ion-input formControlName="region" [disabled] *ngIf="user.busType === 'Retailer'"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>Variety</ion-label>
      <ion-select interface="popover" formControlName="variety"
                  [class.invalid]="!productForm.controls.variety.valid && !productForm.controls.variety.pristine">
        <ion-option *ngFor="let variety of varietyList | async">{{variety.name}}</ion-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label stacked>Carton Size</ion-label>
      <ion-input formControlName="cartonSize" type="number">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!productForm.controls.cartonSize.valid && !productForm.controls.cartonSize.pristine">
      <p>Please enter the amount in the carton</p>
    </ion-item>


    <ion-item>
      <ion-label stacked>Unit Cost</ion-label>
      <ion-input formControlName="unitCost" type="number">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!productForm.controls.unitCost.valid && !productForm.controls.unitCost.pristine">
      <p>Please enter a valid unit cost price.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Carton Price</ion-label>
      <ion-input formControlName="price" type="number" [disabled]>
      </ion-input>
    </ion-item>

    <button ion-button type="submit" [disabled]="productForm.invalid">Submit</button>

  </form>

</ion-content>